/* Fondo de la aplicación */

/* Opción 1: Color sólido */
ion-content {
  --background: #050505;
}

ion-menu {
  --ion-background-color:black;
  --ion-color-base:white;
}

ion-menu ion-title,
ion-menu ion-item {
  color: white;
}