<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{menu}}</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{msg}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{saludo}}</ion-card-title>
        </ion-card-header>
        <!-- Contenido de la card -->
        <ion-card-content>{{content}}</ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</div>